BODY {
	background: url("background.jpg") repeat-x;
	background-color: #DEDEDE;
	text-align: left;
}

HEADER {
	text-align: center;
}

A {
	color: red;
	font-weight: strong;
}

ARTICLE {
	font-family: sans-serif;
	font-size: 10px;
	padding-bottom: 10px;
	margin: 20px auto;
	max-width: 100%;
}

H1 {
	font-size: 160%;
	text-align: left;
}

#wrapper {
	width: 900px;
    margin: 0 auto;
}

#nav {
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bold;
	width: 20%;
	float: left;
	overflow: hidden;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px;
}

#main {
	float: left;
	width: 60%;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px;
}

UL {
    padding-left:0;
    list-style-type: none;
}​

IMG {
	max-width: 100%;
}

.blogimage {
	width: 100%;
}

.end {
	float: left;
	text-align: center;
	width: 100%;
}

.ads {
	width: 100%;
	margin: 10px;
}
