BODY {
	background: url("background.jpg") repeat-x;
	background-color: #DEDEDE;
	text-align: left;
}

HEADER {
	text-align: center;
}

A {
	color: red;
	font-weight: strong;
}

ARTICLE {
	font-family: sans-serif;
	font-size: 10px;
	padding-bottom: 10px;
}

H1 {
	font-size: 160%;
	text-align: left;
}

.bottom_line {
	border-width: 2px;
}

#wrapper {
    margin: 0 auto;
}

NAV {
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bold;
	float: left;
	max-width: 20%;
	overflow: hidden;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px;
}

#main {
	float: left;
	width: 50vw;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px;
}

UL {
    padding-left:0;
    list-style-type: none;
}​

IMG {
	width: 50vw;
}

FOOTER {
	float: left;
	text-align: center;
	width: 100%;
}
